In [1]:
import nltk

In [2]:
from nltk import pos_tag
from nltk import ne_chunk
from nltk import word_tokenize
from nltk import download
download('maxent_ne_chunker')
download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\gopal\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\gopal\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [3]:
# declaring the sentence
sentence = "We are reading a book published by Oxford which is based out of London."

In [4]:
# to find the named entities we need to call ne_chunks

def get_ner(text):
    words = ne_chunk(pos_tag(word_tokenize(text)), binary=True)
    return [word for word in words if len(word) == 1]

In [5]:
# Calling the get_ner function

get_ner(sentence)

[Tree('NE', [('Oxford', 'NNP')]), Tree('NE', [('London', 'NNP')])]

#### Above we can see that the output of the get_ner function returns the name entities "Oxford" and "London" and maps them to an already-defined cateory "NNP".